/* :root {
  --prymary-text-color: #757575;
  --prymary-bg-color: #e5e5e5;
  --minor-bg-color: #f5f4fa;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-text: #000000;
  --white-text: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--prymary-text-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
} */


/*==================Header============================*/

/* .container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;

} */

/* .header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__menu:not(:last-child) {
  margin-right: 50px;
}



.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item {
  display: flex;
  justify-content: center;
  align-items: center;
}


.site-nav__item {
  display: flex;

}

.line {
  position: relative;
}

.line.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  margin-top: 35px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;


}





.contacts.list {
  display: flex;
  margin-left: auto;
}

.contacts__tel{
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #afb1b8;

}

.contacts__mail{
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #afb1b8;
} */

/*==================End Header============================*/

/* .advantages {
  display: flex;
}

.advantages__wraper {
  display: flex;
}

.advantages__item:not(:last-child) {
  padding-right: 30px;
} */

/* .work__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: var(--white-text);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;

}

.product-thumb {
  position: relative;

}

.work__wrapper{
  display: block;
  width: 370px;
  height: 70px;
  text-align: center;
  align-items: center;
  padding-top: 27px;


  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.work__list {
  display: flex;


}

.work__item {
  padding-right: 30px;
}

.work .section-title {
  padding-bottom: 50px;
}

.section.work {
  padding-bottom: 94px;

} */

/* ===========Команда==========*/
/* .team__list.list {
  display: flex;
  justify-content: space-between;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team .title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team .section-title {
  margin-bottom: 50px;
}

.team-description {
  padding-bottom: 32px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  background-color: var(--white-text);
  justify-content: space-between;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-text);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  fill: #afb1b8;
  width: 40px;
  height: 40px;
} */

/* ===========Команда кінець==========*/

/* ===========Клієнти==========*/

/* .client .list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.client-item:hover,
.client-item:focus {

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: #afb1b8;
  height: 50px;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {

  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.client__link:hover {
  border: solid var(--accent-color) 1px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: solid #afb1b8 1px;
  border-radius: 4px;
} */

/* ===========Клієнти кінець==========*/

/* .addres-text {
  margin-bottom: 9px;
}

.footer-list__addres:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
} */




/* 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/*Колір основного тексту: color:#757575; */
/*Колір втооринного тексту:сolor:  #212121;*/
/* Чорний лого:#000000;білий лого:color: #FFFFFF; */
/* Акцент-синій #2196F3;*/
/*Вторичний колір фону: #E5E5E5*/

/*Стилізація лого- logo*/
/* .header .logo {
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 90px;
} */

/* .footer .logo {
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-bottom: 20px;
} */

/* .logo-accent {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--black-text);
} */

/*Стилізація навігації по сайту - nav-site*/
/* .site-nav__link  {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.site-nav__link.current {
  color: var(--accent-color);
} */

/*Стилызація навігації адресу - contacts*/
/* .contacts__link {
  color: var(--prymary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin-bottom: 0px;
} */

/* .contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover .contacts__mail,
.contacts__item:focus .contacts__mail {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover .contacts__tel,
.contacts__item:focus .tcontacts__tel{
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

} */

/*Hero*/
/* .hero {
  display: block;
  text-align: center;
  background-repeat: no-repeat;

  background-position: center;
  margin: auto;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/bg.jpg);
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero__button{
  display: inline-block;
  color: var(--white-text);
  background-color: var(--accent-color);
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;

} */

/* Стилізація Преимуществ(advantages)*/
/* .section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.03em;
} */

/* .advantages__list  {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.advantages__icon {
  display: block;

  width: 270px;
  height: 120px;
  padding: 25px 100px 25px 100px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
} */

/* team*/
/* .team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
} */

/* Стилізація підвалу(footer)*/
/* .footer {
  background-color: #2f303a;
}

.logo-white {
  color: var(--white-text);
}

.addres-text {
  color: var(--white-text);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.addres-container {
  margin-right: 70px;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-list__text {
  color: var(--white-text);
  text-transform: uppercase;

}

.footer-list__link {
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  margin-top: 20px;
}

.footer-list__icon {
  display: flex;
  fill: var(--white-text);
  width: 40px;
  height: 40px;
}

.footer>.container {
  display: flex;
  align-items: baseline;
}

.footer-list__link:hover,
.footer-list__link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__items {
  display: flex;
}

.futter-button {
  display: flex;

  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 12px;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px
}

.contain-footer-field {
  display: inline-block;
}

.futter-field {
  margin-left: 93px;
}



.footer-svg {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}




.footer-input-field {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: #2F303A;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--prymary-text-color);
  padding-left: 10px;
}
 */

/* portfolio*/

/* .filter {
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: solid 0px;
  cursor: pointer;
  background-color: #F5F4FA;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* .section-main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items-button {
  display: flex;
  justify-content: center;
}

.item-button:not(:last-child) {
  padding-right: 8px;
  margin-bottom: 34px;
} */


/* .project__name{
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__thumb {
  position: relative;
  overflow: hidden;


}

.project__thumb::before {

  content: '';
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project__link:hover .project__thumb::before,
.project__link:focus .project__thumb::before {
  opacity: 1;
  transform: translateY(0);

}

.project__link:hover .project__description {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project__text {
  color: var(--prymary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project__description {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-text);
  position: absolute;
  letter-spacing: 0.03em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  width: 322px;
  height: 168px;
  opacity: 0;
}









.project {
  display: flex;
  flex-wrap: wrap;


}


  .project-bg {
  display: block;
  position: relative;
}


.project__item {
  display: inline-block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

}

.project__link {
  display: block;


}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:nth-child(3n) {
  margin-right: 0;
}

.project__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projekt__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: solid 1px #ececec;
} */


/*modal*/

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


.backdrop.is-hidden .modal {

  opacity: 0;
  scale: (5);
  transform: translate(-50%, -50%);
}


.modal {

  width: 528px;
  height: 581px;
  background-color: var(--white-text);
  position: absolute;
  top: 50%;
  left: 50%;
  scale: (1);
  transform: translate(-50%, -50%);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px #afb1b8;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto;

}

.modal-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: block;
  padding-top: 0;
  padding-bottom: 0;

}

.form-field .button {
  cursor: pointer;
}

.coment {
  resize: none;
}

.text-form {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.form-field__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  position: relative;

}



.form-field__input {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-image: initial;
  border-radius: 4px;
  outline: none;
}

.form-field__input {
  padding-left: 35px;
}



.form-field__wrapper:focus-within>.form-field__icon {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus,
.form-field__input:hover {

  border: 1px solid #2196F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.form-field__coment {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-image: initial;
  border-radius: 4px;
  outline: none;

}

.form-field__coment:focus-within{
  border: 1px solid #2196F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-field__coment:hover,
.form-field__coment:focus {
  border: 1px solid #2196F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: var(--prymary-text-color);

  margin-bottom: 4px;
}

.checkbox {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.agreement-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}

.form-field .button {
  display: block;
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 164px;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
}






.form-field__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  margin-left: 12px;

}

.form-field__wrapper:hover {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox__link {
  display: inline;
  color: var(--accent-color);
  border-bottom: 1.5px solid currentColor;
  line-height: 0.85;
  margin-left: 3px;
}


.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}


.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 5px;

}

.checkbox__input:checked+.checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../svg/check.svg');
  background-size: contain;
  background-origin: border-box;
} */