.advantages{
 

  &__icon {
        
    
        width: 450px;
        height: 120px;
        padding: 25px 190px 25px 190px;
       
        margin-bottom: 10px;
        background-color: #f5f4fa;
        border-radius: 4px;
  }
  
  &__title {
    
        color: var(--title-text-color);
        font-weight: bold;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        margin-top: 0px;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
        
      }
      &__text {
            font-size: 14px;
            line-height: 1.71;
            margin-top: 0px;
            
            letter-spacing: 0.03em;
            margin-bottom: 30px;
          }
}

@media screen and(max-width: 767px){
  .advantages__title {
    text-align: center;
  }
}
@media screen and(min-width: 768px) {
.advantages{



&__item{
width: 354px;
width:calc(100%-(2*15)/2);
    margin: 7.5px;

}

@media screen and(min-width: 768px) {
  &__wraper{
    
    display: flex;
    flex-wrap: wrap;
    

  }
  &__icon {
      
  
    width: 354px;
    height: 120px;
     padding: 25px 142px 25px 142px;
     
    margin-bottom: 30px;
    margin-right: 15px;
     border-radius: 4px;
}
}
}

}

  



  
    

  

  

@media screen and(min-width: 1200px) {
  .advantages {
  display: flex;

  &__wraper {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    width: 270px;
   
  }
  &__list  {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    color: var(--title-text-color);
    font-weight: bold;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }

  &__icon {
    display: block;

    width: 270px;
    height: 120px;
    padding: 25px 100px 25px 100px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    margin-right: 0px;
  }

 }

  
}

  


// .advantages {
//   display: flex;

//   &__wraper {
//     display: flex;
//   }
//   &__item:not(:last-child) {
//     padding-right: 30px;
//   }
//   &__list  {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
//   &__title {
//     color: var(--title-text-color);
//     font-weight: bold;
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 1.14;
//     margin-top: 0px;
//     margin-bottom: 10px;
//     letter-spacing: 0.03em;
//   }
//   &__text {
//     font-size: 14px;
//     line-height: 1.71;
//     margin-top: 0px;
//     margin-bottom: 10px;
//     letter-spacing: 0.03em;
//   }

//   &__icon {
//     display: block;

//     width: 270px;
//     height: 120px;
//     padding: 25px 100px 25px 100px;
//     background-color: #f5f4fa;
//     margin-bottom: 30px;
//     border-radius: 4px;
//   }

// }
