.client {
  & .list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__item:hover,
  &__item:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:hover,
  &__item:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: #afb1b8;
    height: 50px;
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover {
    border: solid var(--accent-color) 1px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: solid #afb1b8 1px;
    border-radius: 4px;
  }
}
