.filter {
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: solid 0px;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.section-main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items-button {
  display: flex;
  justify-content: center;
}

.item-button {
  padding-right: 8px;
  margin-bottom: 50px;
}
