.project {
  display: flex;
  flex-wrap: wrap;

  &__name {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__thumb::before {
    content: "";
    width: 100%;
    height: 100%;

    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover .project__thumb::before,
  &__link:focus .project__thumb::before {
    opacity: 1;
    transform: translateY(0);
  }

  &__link:hover .project__description {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text {
    color: var(--prymary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }

  &__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: var(--white-text);
    position: absolute;
    letter-spacing: 0.03em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    width: 322px;
    height: 168px;
    opacity: 0;
  }

  &-bg {
    display: block;
    position: relative;
  }

  &__item {
    display: inline-block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &__content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: solid 1px #ececec;
  }
}
