.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  
  .backdrop.is-hidden .modal {
  
    opacity: 0;
    scale: (5);
    transform: translate(-50%, -50%);
  }
  
  
  .modal {
  
    width: 528px;
    height: 581px;
    background-color: var(--white-text);
    position: absolute;
    top: 50%;
    left: 50%;
    scale: (1);
    transform: translate(-50%, -50%);
  
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #afb1b8;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: auto;
  
  }
  
  .modal-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  .modal-icon:hover,
  .modal-icon:focus {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-field {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  
  }
  
  .form-field .button {
    cursor: pointer;
  }
  
  .coment {
    resize: none;
  }
  
  .text-form {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  
    color: var(--title-text-color);
  }
  
  .form-field__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    position: relative;
  
  }
  
  
  
  .form-field__input {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-image: initial;
    border-radius: 4px;
    outline: none;
  }
  
  .form-field__input {
    padding-left: 35px;
  }
  
  
  
  .form-field__wrapper:focus-within>.form-field__icon {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-field__input:focus,
  .form-field__input:hover {
  
    border: 1px solid #2196F3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  
  
  .form-field__coment {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
  
    border-width: 1px;
    border-style: solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-image: initial;
    border-radius: 4px;
    outline: none;
  
  }
  
  .form-field__coment:focus-within{
    border: 1px solid #2196F3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .form-field__coment:hover,
  .form-field__coment:focus {
    border: 1px solid #2196F3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-field__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  
    letter-spacing: 0.01em;
  
    color: var(--prymary-text-color);
  
    margin-bottom: 4px;
  }
  
  .checkbox {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .agreement-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--prymary-text-color);
  }
  
  .form-field .button {
    display: block;
    color: var(--white-text);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    margin-left: 164px;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
  }
  
  
  
  
  
  
  .form-field__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    margin-left: 12px;
  
  }
  
  .form-field__wrapper:hover {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .checkbox__link {
    display: inline;
    color: var(--accent-color);
    border-bottom: 1.5px solid currentColor;
    line-height: 0.85;
    margin-left: 3px;
  }
  
  
  .checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  
  }
  
  
  .checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 5px;
  
  }
  
  .checkbox__input:checked+.checkbox__icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../svg/check.svg');
    background-size: contain;
    background-origin: border-box;
  }